body{
     margin: 0;
     /* border: border-box; */
}
h1{
     margin: 0%;
     font-size: 38px;
     color: dodgerblue;
     width: 100vw;
     height: 10vw;
     background-color: #717171;
}

.center{
     text-align: center;
}
#b1{
     display: flex;
     justify-content: space-evenly;
}
.box{
     width: 200px;
     height: 200px;
     background-color: chartreuse;
}